---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';

// Components
// import Carousel from './components/Carousel.astro';

// Images
import ImgAbstract from './assets/sean-sinclair-0Y6BaIZeh0g-unsplash.jpg';
---

<section id="os-projects" class="pb-7">
	<article class="section-card pb-0 pt-8 sm:py-12">
		<div class="px-6 sm:px-9 xl:px-12">
			<h3 class="mb-6 max-w-xl text-2xl font-light tracking-[-0.015em] text-white sm:text-3xl">
				Transparent, audited, <br /><span class="text-red-400">& open source</span>
			</h3>
			<p class="max-w-2xl text-base text-white/70 sm:text-lg">
				Fingerprint provides a complete view of your users across web and mobile. The visitor identification API identifies up to 99.5% of returning visitors, while Smart Signals
				provide actionable real-time intelligence about visitor intent.
			</p>

			<a href="/works" class="mt-10 inline-flex items-center rounded-full text-sm font-semibold text-white hover:text-white/80">
				What makes us different <Icon name="mdi:chevron-right" class="mr-2 w-5 text-red-400" />
			</a>
		</div>
		<div class="mt-24 grid grid-cols-1 gap-6 sm:grid-cols-3 sm:px-9 lg:mt-32 xl:px-12">
			<div class="sm:col-span-2">
				<div class="relative h-[320px] overflow-hidden rounded-md border-white/20 bg-white/[0.06] px-6 py-4 sm:border">
					<div class="mb-3 text-base font-medium text-white">Flexible Location</div>
					<p class="max-w-[240px] text-sm text-white/60">VC investment in apps we've helped our startup partners design.</p>
				</div>
			</div>
			<div class="sm:col-span-1">
				<div class="relative h-[320px] overflow-hidden rounded-md border-white/20 bg-white/[0.06] px-6 py-4 sm:border">
					<div class="mb-3 text-base font-medium text-white">Flexible Location</div>
					<p class="max-w-[240px] text-sm text-white/60">VC investment in apps we've helped our startup partners design.</p>
				</div>
			</div>
		</div>
	</article>
</section>

<script>
	import { gsap } from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';
	gsap.registerPlugin(ScrollTrigger);

	ScrollTrigger.create({
		trigger: '#os-projects',
		start: 'top center',
		end: 'bottom center',
		onEnter: () => {
			document.querySelector('#os-projects .section-card').classList.add('is-active');
		},
		onLeave: () => {
			document.querySelector('#os-projects .section-card').classList.remove('is-active');
		},
		onEnterBack: () => {
			document.querySelector('#os-projects .section-card').classList.add('is-active');
		},
		onLeaveBack: () => {
			document.querySelector('#os-projects .section-card').classList.remove('is-active');
		},
	});
</script>
