---

---

<div class="w-full rounded-md bg-[#181818] p-6 pb-8 pt-4 text-left ring-1 ring-inset ring-white/10">
	<div class="mb-4 text-lg font-bold">#photography</div>
	<ul class="space-y-8">
		<li class="flex items-start gap-4">
			<div class="flex-none">
				<img class="h-9 w-9 rounded-md" src="/images/jin.jpg" />
			</div>
			<div class="flex-1">
				<div class="mb-1 flex items-center gap-1.5 text-[15px] font-bold">
					Jin Park <span class="font-normal text-white/80">is at</span> Central Park Zoo
				</div>
				<div class="flex items-center gap-2 text-xs font-medium text-white/40">
					<div class="flex items-center gap-1">June 24</div>
					 •
					<div class="flex items-center gap-1">New York</div>
				</div>

				<div class="relative mt-4 overflow-hidden rounded-lg">
					<div class="">
						<div class="flex gap-1">
							<div class="relative flex-1 overflow-hidden">
								<img class="h-full object-cover object-top" src="/images/photography-1.jpeg" />
								<div class="absolute left-0 top-0 h-full w-full"></div>
							</div>

							<div class="flex flex-1 flex-col items-start gap-1">
								<div class="relative overflow-hidden">
									<img class="aspect-square object-cover" src="/images/photography-2.jpeg" />
									<div class="absolute left-0 top-0 h-full w-full"></div>
								</div>

								<div class="relative overflow-hidden">
									<img class="aspect-square object-cover" src="/images/photography-3.jpeg" />
									<div class="absolute left-0 top-0 h-full w-full"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- <p class="py-4 text-[14px] text-center text-white font-bold">
						Achievement Unlocked<br>
						<span class="text-[12px] font-medium text-white/60">National Geographic</span>
					</p> -->
					<div class="absolute left-0 top-0 h-full w-full rounded-lg ring-1 ring-inset ring-white/30"></div>
				</div>
				<div class="mt-3 flex items-center gap-3 text-xs font-medium text-white/40">
					<div class="flex items-center gap-2">
						<svg class="w-[12px] fill-current text-blue-400" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
							><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<path
								d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"
							></path></svg
						>
						 Baidyn Waaka and Pagah Kho
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
