---

---

<div class="w-full rounded-md bg-[#181818] p-6 pb-8 pt-4 text-left ring-1 ring-inset ring-white/10">
	<div class="mb-4 text-lg font-bold">#watercooler</div>
	<ul class="space-y-8">
		<li class="flex items-start gap-4">
			<div class="flex-none">
				<img class="h-9 w-9 rounded-md" src="/images/jin.jpg" />
			</div>
			<div class="flex-1">
				<div class="mb-2 flex items-center gap-2 text-[15px] font-bold">Jin Park</div>
				<p class="text-white/60">
					Who wore it better? <span class="text-white">😂</span>
				</p>
				<div class="relative mt-3 overflow-hidden rounded-lg">
					<img class="" src="/images/kenzo.jpg" />
					<div class="absolute left-0 top-0 h-full w-full rounded-lg ring-1 ring-inset ring-white/30"></div>
				</div>
				<div class="mt-3 flex items-center gap-3 text-xs font-medium text-white/40">Image from iOS</div>
			</div>
		</li>
	</ul>
</div>
