---

---

<div class="w-full rounded-md bg-[#181818] p-6 pb-8 pt-4 text-left ring-1 ring-inset ring-white/10">
	<div class="mb-4 text-lg font-bold">#contributions</div>
	<ul class="space-y-8">
		<li class="flex items-start gap-4">
			<div class="flex-none">
				<img class="h-9 w-9 rounded-md" src="/images/github.png" />
			</div>
			<div class="flex-1">
				<div class="mb-2 flex items-center gap-2 text-[15px] font-bold">
					GitHub
					<div class="flex h-[15px] items-center rounded-sm bg-white/20 px-1 text-[10px] font-medium uppercase text-white/60">App</div>
				</div>
				<p class="text-white/60">Your latest git contributions.</p>
				<div class="mt-3 flex w-full flex-wrap items-start gap-1">
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#2A9745]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#2A9745]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#2A9745]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#2A9745]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#2A9745]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#2A9745]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#1E6332]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#2A9745]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#2A9745]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#1E6332]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#1E6332]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#38BC58]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-white/20"></div>
					<div class="aspect-square w-[14px] rounded-sm bg-[#90E69E]"></div>
				</div>
				<div class="mt-3 flex items-center gap-3 text-xs font-medium text-white/40">Commits, issues, and pull requests</div>
			</div>
		</li>
	</ul>
</div>
