<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">JavaScript</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-users"></i>
					 165k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-book"></i>
					 MDN
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<i class="fa-brands fa-fw fa-js text-4xl text-yellow-400"></i>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">React</div>
			<ul class="flex items-center gap-3.5">
				<li class="items-centertext-xs flex gap-1 font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-users"></i>
					 214k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 44.9k
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<i class="fa-brands fa-fw fa-react text-4xl text-cyan-400"></i>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Alpine JS</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-users"></i>
					 24.9k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 1.1k
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<svg class="h-auto w-9" width="181" height="83" viewBox="0 0 181 83" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M140.521 0.302734L180.393 40L140.521 79.6972L100.648 40L140.521 0.302734Z" fill="#77C1D2"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M40.8399 0.302734L123.5 82.6H43.7555L0.967773 40L40.8399 0.302734Z" fill="#fff"></path>
			</svg>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Sass</div>
			<ul class="flex items-center gap-4">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-star"></i>
					 14.7k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 2.1k
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<i class="fa-brands fa-fw fa-sass text-3xl text-pink-400"></i>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Less</div>
			<ul class="flex items-center gap-4">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-star"></i>
					 17k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 3.5k
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<i class="fa-brands fa-fw fa-less text-4xl text-blue-400"></i>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Bootstrap</div>
			<ul class="flex items-center gap-4">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-star"></i>
					 165k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 78.9k
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<i class="fa-brands fa-fw fa-bootstrap text-4xl text-purple-400"></i>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">GitHub</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-users"></i>
					 2.5m
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-brands fa-fw fa-twitter"></i>
					 github
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<i class="fa-brands fa-fw fa-github text-4xl text-white"></i>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">npm</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-users"></i>
					 155k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-brands fa-fw fa-twitter"></i>
					 npmjs
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<i class="fa-brands fa-fw fa-npm text-4xl text-red-400"></i>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Framer</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-users"></i>
					 122k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-brands fa-fw fa-twitter"></i>
					 framer
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<svg class="h-auto w-8 fill-current text-white" fill="current" width="800px" height="800px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"
				><title>Framer icon</title><path d="M4 0h16v8h-8zM4 8h8l8 8H4zM4 16h8v8z"></path></svg
			>
		</div>
	</div>
</li>
