---
import { Icon } from 'astro-icon';
---

<!-- Footer -->
<footer class="mx-auto max-w-[1440px] px-4 pb-12 pt-[100px] sm:px-10 2xl:max-w-[1680px]">
	<div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
		<div class="col-span-2">
			<svg
				class="mb-7 h-auto w-[56px] fill-current
            text-[#ED5035]
            sm:w-[72px]"
				xmlns="http://www.w3.org/2000/svg"
				width="42"
				height="42"
				fill="currentColor"
				viewBox="0 0 42 42"
				><path
					d="M23 41.906a20.941 20.941 0 0 0 3-.505V.6a20.943 20.943 0 0 0-3-.505v41.812ZM31 39.47c-.957.52-1.96.968-3 1.335V1.195c1.04.368 2.043.815 3 1.334v36.942ZM33 38.236c5.44-3.795 9-10.1 9-17.236 0-7.136-3.56-13.441-9-17.236v34.472ZM21 0C9.402 0 0 9.402 0 21s9.402 21 21 21V0Z"
				></path></svg
			>
			<p class="mb-7 text-sm font-medium text-white/70">
				&copy; Design & Development by <a href="https://www.linkedin.com/in/jinsupark-in/" target="_blank" class="text-white hover:text-white">Jin Su Park</a>
			</p>
			<p class="text-xs text-white/40">
				We help early-stage companies look the part by delivering beautiful identity designs, product concepts, and user experiences, beautifully packaged, hand-coded and ready to
				use. We help early-stage companies look the part by delivering beautiful identity designs, product concepts, and user experiences, beautifully packaged, hand-coded and
				ready to use. We help early-stage companies look the part by delivering beautiful
			</p>
		</div>

		<div class="flex items-end justify-end gap-2">
			<a href="#" class="p-1 text-white/40 hover:text-white/60">
				<Icon name="mdi:email" class="w-5" />
			</a>
			<a href="#" class="p-1 text-white/40 hover:text-white/60">
				<Icon name="mdi:linkedin" class="w-5" />
			</a>
			<a href="#" class="p-1 text-white/40 hover:text-white/60">
				<Icon name="mdi:twitter" class="w-5" />
			</a>
		</div>
	</div>
</footer>
