---
import TechnologyCarouselTop from './TechnologyCarouselTop.astro';
import TechnologyCarouselBottom from './TechnologyCarouselBottom.astro';
---

<div class="carousel">
	<ul class="carousel-track">
		<TechnologyCarouselTop />
		<TechnologyCarouselTop />
	</ul>
</div>

<div class="carousel carousel-reverse">
	<ul class="carousel-track">
		<TechnologyCarouselBottom />
		<TechnologyCarouselBottom />
	</ul>
</div>
