<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Astro</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-star"></i>
					 35.6k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 1.8k
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<svg class="h-auto w-[26px]" width="64" height="79" viewBox="0 0 64 79" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_831_2294)">
					<path
						d="M19.9924 65.9282C16.1165 62.432 14.9851 55.0859 16.5999 49.7638C19.3998 53.1193 23.2793 54.1822 27.2977 54.7822C33.5013 55.7081 39.5937 55.3618 45.3565 52.5637C46.0158 52.2434 46.625 51.8174 47.3454 51.386C47.8861 52.9341 48.0268 54.497 47.838 56.0877C47.3787 59.9617 45.4251 62.9542 42.3177 65.2227C41.0752 66.13 39.7604 66.9411 38.4771 67.7967C34.5346 70.4262 33.4679 73.5095 34.9494 77.9946C34.9846 78.1038 35.0161 78.2131 35.0957 78.4797C33.0828 77.5909 31.6124 76.2965 30.4921 74.5946C29.3088 72.7984 28.7458 70.8114 28.7162 68.6615C28.7014 67.6152 28.7014 66.5597 28.5588 65.5282C28.2107 63.0135 27.0144 61.8876 24.7608 61.8227C22.4479 61.7561 20.6183 63.1672 20.1331 65.3893C20.0961 65.5597 20.0424 65.7282 19.9887 65.9263L19.9924 65.9282Z"
						fill="url(#paint0_linear_831_2294)"></path>
					<path
						d="M0.5 51.3932C0.5 51.3932 11.0979 46.2433 21.7254 46.2433L29.7382 21.5069C30.0381 20.3106 30.9141 19.4977 31.9029 19.4977C32.8918 19.4977 33.7677 20.3106 34.0677 21.5069L42.0804 46.2433C54.6672 46.2433 63.3058 51.3932 63.3058 51.3932C63.3058 51.3932 45.3044 2.47586 45.2692 2.37772C44.7526 0.931458 43.8804 0 42.7045 0H21.1032C19.9273 0 19.0903 0.931458 18.5384 2.37772C18.4995 2.47401 0.5 51.3932 0.5 51.3932Z"
						fill="white"></path>
				</g>
				<defs>
					<linearGradient id="paint0_linear_831_2294" x1="15.8877" y1="78.4797" x2="53.1292" y2="60.6489" gradientUnits="userSpaceOnUse">
						<stop stop-color="#D83333"></stop>
						<stop offset="1" stop-color="#F041FF"></stop>
					</linearGradient>
					<clipPath id="clip0_831_2294">
						<rect width="64" height="79" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Eleventy</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-star"></i>
					 15.1k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 460
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<svg class="h-auto w-8" width="148" height="123" viewBox="0 0 148 123" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M22.17 2.79C21.76 2.79 21.4 2.83 21.11 2.91L3.06 7.57C1.92 7.81 0 8.76 0 12.4V18.99C0 20.98 0.4 22.28 1.27 23.07C1.86 23.61 2.63 23.86 3.45 23.79L7.89 22.7V98.53C7.89 102.77 9.07 104.91 11.39 104.91H21.89C24.26 104.91 25.46 102.76 25.46 98.53V7.8C25.46 3.44 23.4 2.79 22.17 2.79Z"
					fill="white"></path>
				<path
					d="M56.7 2.68C56.29 2.68 55.93 2.72 55.64 2.8L37.6 7.45C36.46 7.69 34.54 8.64 34.54 12.28V18.87C34.54 20.86 34.94 22.16 35.81 22.95C36.4 23.49 37.17 23.74 37.99 23.67L42.43 22.58V98.41C42.43 102.65 43.61 104.79 45.93 104.79H56.42C58.79 104.8 59.99 102.65 59.99 98.42V7.68C59.99 3.32 57.93 2.67 56.7 2.67V2.68Z"
					fill="white"></path>
				<path
					d="M144.65 32.15H138.89C137.75 32.15 136.73 32.65 136.01 33.55C135.4 34.32 135.01 35.49 134.79 37.17L129.08 75.6L121.77 36.94C121.49 35.21 121.03 34.06 120.33 33.35C119.57 32.57 118.58 32.16 117.47 32.16H109.16C108.11 32.16 106.34 32.71 106.34 36.42C106.34 36.86 106.39 37.42 106.5 38.18L119.98 94.23C121.22 100.11 121.32 101.27 121.32 101.48C121.32 104.36 120.98 106.57 120.31 108.06C119.75 109.3 119.29 109.58 119.2 109.59C119.13 109.59 118.58 109.54 116.66 108.95C114.08 108.19 113.98 108.19 113.68 108.19C110.25 108.19 110.25 113.18 110.25 115.06C110.25 117.25 110.51 118.5 111.16 119.3C112.84 121.73 115.86 122.96 120.13 122.96H120.77C120.88 122.96 120.98 122.96 121.09 122.96C123.34 122.96 125.53 122.31 127.48 121.05C129.19 119.84 130.65 117.72 131.95 114.57C133.15 111.66 134.24 107.47 135.21 102.15L147.45 38.43C147.56 37.67 147.61 37.08 147.61 36.6C147.61 32.72 145.76 32.14 144.65 32.14V32.15Z"
					fill="white"></path>
				<path
					d="M99.99 91.88H95.12C94.39 91.88 93.8 91.79 93.35 91.6C93.15 91.52 92.71 91.26 92.08 90.48C91.76 90.09 91.3 89.23 90.94 87.39C90.62 85.77 90.46 83.66 90.46 81.1V46.11H98.27C99.32 46.11 101.77 45.62 101.77 41.04V37.33C101.77 32.68 99.32 32.18 98.27 32.18H90.47V5.42C90.47 0.71 88.27 0 86.97 0H80.1C78.61 0 76.79 0.92 76.53 5.33L75.29 32.11V32.17H72.07C71.02 32.17 68.57 32.67 68.57 37.32V41.03C68.57 45.61 71.02 46.1 72.07 46.1H75.29V80.89C75.29 84.8 75.6 88.27 76.22 91.21C76.86 94.23 77.68 96.55 78.73 98.29C79.82 100.09 81.23 101.52 82.94 102.56C84.58 103.56 86.2 104.22 87.75 104.51C89.23 104.79 90.89 104.92 92.85 104.92H99.83C100.71 104.91 103.6 104.58 103.6 100.31V96.19C103.6 93 101.72 91.87 99.97 91.87L99.99 91.88Z"
					fill="white"></path>
			</svg>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Hugo</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-star"></i>
					 7.4k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 69.2k
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<svg class="h-auto w-7" width="345" height="387" viewBox="0 0 345 387" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M194.82 20.4105L309.23 86.9505C315.887 90.8219 321.411 96.3727 325.251 103.048C329.09 109.723 331.111 117.29 331.11 124.99V261.42C331.109 269.933 328.844 278.292 324.548 285.641C320.251 292.99 314.078 299.064 306.66 303.24L193.11 367.18C185.703 371.35 177.339 373.522 168.84 373.481C160.34 373.441 151.997 371.19 144.63 366.95L40.06 306.76C31.9873 302.114 25.2818 295.422 20.619 287.358C15.9561 279.295 13.5007 270.145 13.5 260.83V131.36C13.4992 121.981 15.8968 112.758 20.465 104.567C25.0332 96.3757 31.6202 89.4887 39.6 84.5605L142.4 21.1005C150.257 16.2513 159.283 13.6259 168.515 13.5044C177.747 13.3829 186.838 15.7698 194.82 20.4105Z"
					fill="#FF4088"></path>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M188.033 32.0803C182.164 28.6686 175.48 26.9139 168.692 27.0033C161.904 27.0926 155.268 29.0228 149.491 32.5879M149.49 32.5886L46.6936 96.0465C46.6929 96.047 46.6921 96.0475 46.6914 96.0479C40.6713 99.7664 35.7019 104.962 32.2554 111.142C28.8085 117.323 26.9994 124.282 27 131.359V260.829C27 260.83 27 260.83 27 260.83C27.0007 267.772 28.8307 274.591 32.3056 280.6C35.7808 286.61 40.7783 291.597 46.7947 295.06L151.364 355.25C156.701 358.322 162.746 359.952 168.904 359.981C175.062 360.011 181.121 358.437 186.487 355.417L300.036 291.477C305.368 288.475 309.805 284.109 312.893 278.827C315.981 273.546 317.609 267.538 317.61 261.42C317.61 261.42 317.61 261.419 317.61 261.419V124.989C317.611 119.651 316.21 114.406 313.549 109.779C310.887 105.152 307.058 101.304 302.443 98.6205L188.034 32.0812C188.034 32.0809 188.033 32.0806 188.033 32.0803M168.337 0.00558859C180.013 -0.148098 191.511 2.87061 201.606 8.73969L316.017 75.2804C316.017 75.2804 316.017 75.2805 316.017 75.2804C324.716 80.3397 331.936 87.5936 336.953 96.3171C341.971 105.04 344.611 114.927 344.61 124.99C344.61 124.991 344.61 124.991 344.61 124.992V261.422C344.609 272.329 341.707 283.039 336.202 292.455C330.697 301.87 322.787 309.653 313.283 315.004L199.734 378.944L199.733 378.944C190.285 384.263 179.617 387.033 168.776 386.981C157.934 386.93 147.292 384.059 137.896 378.651L33.3254 318.461C23.1965 312.63 14.7828 304.234 8.93228 294.116C3.08175 283.999 0.000868012 272.519 1.6851e-07 260.831V131.362C1.6851e-07 131.361 1.6851e-07 131.361 1.6851e-07 131.36C-0.000819038 119.68 2.98529 108.193 8.67457 97.9915C14.364 87.7897 22.5679 79.2122 32.5064 73.0744L135.309 9.61298L135.31 9.61234C145.246 3.47959 156.661 0.159274 168.337 0.00558859Z"
					fill="#C9177E"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M92.9199 296.201V88.9805H136.27V164.46H208.19V88.9805H251.67V296.201H208.19V205.59H136.27V296.201H92.9199Z" fill="white"
				></path>
			</svg>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Tailwind CSS</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-star"></i>
					 72.3k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 3.8k
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<svg class="h-auto w-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 54 33"
				><g clip-path="url(#prefix__clip0)"
					><path
						fill="#38bdf8"
						fill-rule="evenodd"
						d="M27 0c-7.2 0-11.7 3.6-13.5 10.8 2.7-3.6 5.85-4.95 9.45-4.05 2.054.513 3.522 2.004 5.147 3.653C30.744 13.09 33.808 16.2 40.5 16.2c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C36.756 3.11 33.692 0 27 0zM13.5 16.2C6.3 16.2 1.8 19.8 0 27c2.7-3.6 5.85-4.95 9.45-4.05 2.054.514 3.522 2.004 5.147 3.653C17.244 29.29 20.308 32.4 27 32.4c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C23.256 19.31 20.192 16.2 13.5 16.2z"
						clip-rule="evenodd"></path></g
				><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h54v32.4H0z"></path></clipPath></defs></svg
			>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Uniform CSS</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-star"></i>
					 151
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 5
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<svg class="h-auto w-8 fill-current text-white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M24 0H0V12C0 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12V0ZM14.5 6V2.5H21.5V6C21.5 7.933 19.933 9.5 18 9.5C16.067 9.5 14.5 7.933 14.5 6ZM18 12C19.3062 12 20.5149 11.5826 21.5 10.874V12C21.5 17.2467 17.2467 21.5 12 21.5C6.75329 21.5 2.5 17.2467 2.5 12V2.5H12V6C12 9.31371 14.6863 12 18 12Z"
				></path>
			</svg>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Relay</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-star"></i>
					 15k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-code-fork"></i>
					 51
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<svg class="h-auto w-8 fill-current text-white" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M15.0008 14.0691V18C15.0008 20.2091 13.21 22 11.0008 22C8.79168 22 7.00082 20.2091 7.00082 18V16.2127L5.27455 16.6752C3.14069 17.247 0.947338 15.9806 0.37557 13.8468C-0.196196 11.7129 1.07013 9.51957 3.204 8.94781L7.00082 7.93045L7.00082 4C7.00082 1.79086 8.79168 -1.93129e-07 11.0008 0C13.21 1.93129e-07 15.0008 1.79086 15.0008 4V5.78686L16.727 5.32434C18.8608 4.75257 21.0542 6.0189 21.6259 8.15277C22.1977 10.2866 20.9314 12.48 18.7975 13.0517L15.0008 14.0691ZM13.0008 14.605L13.0008 18C13.0008 19.1046 12.1054 20 11.0008 20C9.89625 20 9.00082 19.1046 9.00082 18L9.00082 15.6768L13.0008 14.605ZM15.0008 7.85741L17.2446 7.25619C18.3115 6.97031 19.4082 7.60347 19.6941 8.67041C19.98 9.73734 19.3468 10.834 18.2799 11.1199L15.0008 11.9985V7.85741ZM13.0008 8.39331V12.5344L9.00082 13.6062V9.46511L13.0008 8.39331ZM13.0008 6.32276V4C13.0008 2.89543 12.1054 2 11.0008 2C9.89625 2 9.00082 2.89543 9.00082 4L9.00082 7.39455L13.0008 6.32276ZM7.00082 10.001L3.72164 10.8797C2.65471 11.1655 2.02154 12.2622 2.30742 13.3291C2.59331 14.3961 3.68998 15.0292 4.75691 14.7434L7.00082 14.1421V10.001Z"
					fill="white"></path>
			</svg>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">Webflow</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-users"></i>
					 137.6k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-brands fa-fw fa-twitter"></i>
					 webflow
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<img src="/images/logos/webflow.png" class="w-9 rounded-full" />
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">HTML</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-users"></i>
					 109k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-book"></i>
					 W3C
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<i class="fa-brands fa-fw fa-html5 text-4xl text-red-400"></i>
		</div>
	</div>
</li>
<li class="carousel-slide pr-6">
	<div class="card-technology flex w-[220px] items-center justify-between rounded-xl px-4 py-4">
		<div class="">
			<div class="mb-3 text-base font-semibold leading-none text-white">CSS</div>
			<ul class="flex items-center gap-3.5">
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-users"></i>
					 97.8k
				</li>
				<li class="flex items-center gap-1 text-xs font-semibold leading-none text-slate-500">
					<i class="fa-solid fa-fw fa-book"></i>
					 W3C
				</li>
			</ul>
		</div>
		<div class="flex w-10 items-center justify-center">
			<i class="fa-brands fa-fw fa-css3 text-4xl text-indigo-400"></i>
		</div>
	</div>
</li>
